@model ScheduleViewModel
@{
    ViewData["Title"] = $"View Schedule for {Model.Circle.Name}";
}

<link rel="stylesheet" href="~/css/schedule.scss" />

<h1>View Schedule</h1>

<form method="post" class="view-schedule">
    <table class="ui celled table unstackable">
        <thead>
            <tr>
                <th colspan="7">
                    <div>
                        <div class="ui input icon">
                            <i class="search icon"></i>
                            <input name="q" value="@Model.Query" />
                        </div>
                        <button class="ui button primary" type="submit">Search</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Date</th>
                <th>From</th>
                <th>To</th>
                <th>Town</th>
                <th>Sub Station</th>
                <th>Feeder</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody id="schedule" data-mdb-perfect-scrollbar='true'>
            @foreach (var schedule in Model.Schedules)
            {
                <tr>
                    <td data-label="Date">@schedule.Date.ToString("dd-MM-yyyy")</td>
                    <td data-label="From">@schedule.From.ToString("hh:mm tt")</td>
                    <td data-label="To">@schedule.To.ToString("hh:mm tt")</td>
                    <td data-label="Town">@schedule.Town</td>
                    <td data-label="Sub Station">@schedule.SubStation</td>
                    <td data-label="Feeder">@schedule.Feeder</td>
                    <td data-label="Location">@schedule.Location?.Name</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="7">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        @for (int i = 1; i <= Model.MaxPageNumber; i++)
                        {
                            <a class="item" href="@Url.Action("Schedule", new { circleId = Model.Circle.Id, pageNumber = i, pageSize = Model.PageSize })">
                                @i
                            </a>
                        }
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>

                    <div>
                        Showing @(((Model.PageNumber - 1) * Model.PageSize) + 1) to @(Model.PageNumber * Model.PageSize) of @Model.TotalCount
                    </div>


                    @Html.Hidden("circleId", Model.Circle.Id)
                    @Html.Hidden("pageNumber", Model.PageNumber)
                </th>
            </tr>
        </tfoot>
    </table>
</form>

<script src="~/js//schedule.js" type="text/javascript"></script>